@import '../../../../moduleSCSS/variables';

.item {
    display: flex;
    border-top: 1px solid $gray-line;
    padding-top: 30px;
    margin-top: 30px;

    @media (max-width: 768px) {
        .pizzaInfo {
            flex-direction: column;
            margin: 0 auto;
            width: 90%;
        }

        .pizzaPrice {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 110%;

            .count {
                justify-content: center;
                padding: 5px;

                b {
                    padding-left: 10px;
                }
            }

            .button {
                margin-left: 10px;
            }

            .price {
                white-space: nowrap;
                padding: 5px;
                margin: 0 auto;
            }

            .remove {
                padding: 5px;
                justify-content: center;
            }
        }
    }
}

.pizzaInfo {
    display: flex;
    width: 120%;
}

.pizzaPrice {
    display: flex;
    width: 80%;
}

.img { 
    display: flex;
    align-items: center;
    margin-right: 20px;
    width: 20%;

    img {
        width: 80px;
        height: 80px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;

    h3 {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;
    }

    p {
        font-size: 18px;
        color: #8d8d8d;
    }
}

.count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;

    .minus {
        &:disabled {
            opacity: 0.4;
            border-color: #787878;

            &:active {
                background-color: #fff;
                transform: none;
            }

            &:hover {
                background-color: transparent;

                svg path {
                fill: #787878;
                }
            }

            svg path {
                fill: #787878;
            }
        }

        svg {
            path:first-of-type {
                display: none;
            }
        }   
    }

    b {
        font-size: 22px;
    }
}

.price {
    display: flex;
    align-items: center;
    width: 65%;

    b {
        display: block;
        margin: 0 auto;
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.01em;
    }
}

.remove {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-color: #787878;
    width: 5%;

    svg {
        transform: rotate(45deg);

        path {
            fill: darken($color: $gray-line, $amount: 15);
        }
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    padding: 0;
    border-width: 2px;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
    border: 2px solid transparent;
    border-color: $orange;

    &.removeBtn {
        border-color: darken($color: $gray-line, $amount: 10);

        &:hover,
        &:active {
            border-color: darken($color: $gray-line, $amount: 80);
            background-color: darken($color: $gray-line, $amount: 80);
        }
    }
    
    path,
    svg {
        transition: all $duration ease-in-out;
    }

    svg {
        width: 11.5px;
        height: 11.5px;
        position: relative;
    }
    
    &:hover {
        background-color: darken($orange, 8%);
        svg {
            path {
                fill: #fff;
            }
        }
    }

    &:active {
        background-color: darken($orange, 12%);
        transform: translateY(1px);
    }
}