@import '../../../moduleSCSS/variables';
@import '../../../moduleSCSS/components/buttonAdd';

.root {
  width: 100vw;
  height: 100vh;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container {
  display: flex;

  & > svg {
    position: relative;
    top: 5px;
    left: 10px;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  @media (max-width: 1350px) {
    & > svg {
      position: relative;
      top: 25px;
      left: -50px;
      
      path {
        fill: $orange;
      }
    }
  }
}

.modalContent {
  width: 1260px;
  height: 700px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px;
  border-radius: 15px;

  animation: popup-open 0.4s 0s 1 alternate forwards;

  @keyframes popup-open {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  .imgBlock {
    display: block;
    padding: 10px;

    img {
      position: relative;
      left: 50px;
      top:60px;
      max-width: 90%;
      max-height: 90%;
    }
  }
  
  @media (max-width: 1350px) {
    margin-left: 25px;
    max-height: 95vh;
    height: fit-content;
    width: 90vw;
    justify-content: space-between;
    flex-direction: column;
    overflow: auto;

    .imgBlock {
      margin: 0 auto;
      padding-top: 40px;
      padding-left: 35px;

      img {
        left: 0;
        top: 0;
      }
    }
  }
  
  @media (max-width: 768px) {
    .imgBlock {
      padding-top: 60px;
    }
  }
}

.descBlock {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-right: 50px;

  h2 {
    box-sizing: border-box;
  }

  h2 {
    padding: 10px 5px 0px 5px;
  }

  .button {
    width: 100%;
    margin-top: 10px;
  }

  @media (max-width: 1350px) {
    margin-right: 0;
    padding: 20px;
  }
}

.sliders {
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 6px;
  margin-top: 6px;

  ul {
    display: flex;
    flex: 1;

    li {
      text-align: center;
      padding: 8px;
      flex: 1;
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;
    }
  }
}

.active {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  cursor: auto;
}